<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  
    <link rel="stylesheet" href="css/css.css">
</head>
<script>
    $(document).ready(function () {
        
    });
    //등록
    function posting() {
        let today = new Date(); //오늘 날짜 가져오고
        let year = today.getFullYear();
        let month = ('0' + (today.getMonth() + 1)).slice(-1);
        let day = ('0' + today.getDate()).slice(-2);
        var hour = today.getHours();
        hour = hour < 10 ? '0' + hour.toString() : hour.toString();
        var minites = today.getMinutes();
        minites = minites < 10 ? '0' + minites.toString() : minites.toString();
        var seconds = today.getSeconds();
        seconds = seconds < 10 ? '0' + seconds.toString() : seconds.toString();

        let components = [
            today.getYear(),
            today.getMonth(),
            today.getDate(),
            today.getHours(),
            today.getMinutes(),
            today.getSeconds(),
            today.getMilliseconds()
        ];
        let num = components.join('');
        let dateString = year + month + day + hour + minites + seconds;
        console.log(dateString);
        //let findDate = year + "년" + month + "월" + day + "일";
        let title = $('#title').val()
        let author = $("#author").val()
        let password = $("#password").val()
        let content = $("#content").val()
        //서버작동
        $.ajax({
            type: "POST",
            url: `/api/post`,
            data: {
                "num": num, //post 번호
                "date": dateString, //내림차순으로 하려고 numbering
                "title": title,
                "author": author,
                "password": password,
                "content": content,
            },
            
            success: function (response) {
                if (response["result"] == "success") {
                    window.location.href = "/list";
                }
            }
        });
    }
</script>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>게시물 작성</strong>
        </div>
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd>
                            <input type="text" id="title" placeholder="제목 입력">
                        </dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>작성자</dt>
                        <dd>
                            <input type="text" id="author" placeholder="작성자 입력">
                        </dd>
                    </dl>
                    <dl>
                        <dt>비밀번호</dt>
                        <dd>
                            <input type="password" id="password" placeholder="비밀번호 입력">
                        </dd>
                    </dl>
                </div>
                <div class="content">
                    <textarea placeholder="내용 입력" id="content"></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <button onclick="posting()">글쓰기</button>
                
                <a href="/list">취소</a>
            </div>
        </div>
    </div>
</body>
</html>