<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Webpage Title -->
    <title>BLOGs | Welcome</title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <!-- Font Awesome CSS -->
    <link
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <!-- Google font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gugi&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gaegu&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <style>
      .bg-sparta {
        background-color: #f595e5 !important;
      }

      .btn-sparta {
        color: #ffffff !important;
        background-color: #e8344e !important;
        border-color: #e8344e !important;
      }

      .btn-outline-sparta {
        color: #e8344e !important;
        background-color: #ffffff !important;
        border-color: #e8344e !important;
      }

      body {
        background-color: rgba(232, 232, 232, 1);
        min-height: 100vh;
      }

      .hero {
        position: absolute;
        width: 100%;
        height: 70px;
      }

      .bnTitle {
        position: absolute;
        font-family: "Gugi", cursive;
        width: 500px;
        font-size: 20px;
        left: 110px;
        top: 40px;
      }

      .mainImgDiv {
        border-width: 3px;
        border-style: ridge;
        border-color: white white black white;
      }

      .mainImg {
        display: block;
        position: relative;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        opacity: 0.5;
      }

      .mainTxt {
        display: block;
        font-family: "Gaegu", cursive;
        text-align: center;
        font-size: 60px;
        margin-bottom: 50px;
      }
    </style>

    <title>My BLOGS| Jenny</title>

    <script></script>
  </head>

  <body>
    <div>
      <p class="bnTitle">
        My BLOGs| 블로그<i class="fa fa-leaf" aria-hidden="true"></i>
      </p>
    </div>
    <div class="mainImg">
      <img src="./static/canadamap.jpg" />
    </div>
    <div class="mainTxt">
      <tr>
        <a href="/list">다음 페이지로 이동하기</a
        ><br />
        <td>홍성현</td>
        <br />
        <td>(Sept 25 ~ Sept 29) Project2 (Working..)</td>
      </tr>
    </div>
  </body>
</html>
