<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />

    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <link rel="stylesheet" href="css/css.css" />
</head>

    <title>회원가입 | Jenny</title>
    <script>
        $(document).ready(function () { 

        });
        //등록
        function welcome() {
            let email = $("#input-email").val()
            // console.log(email)
            let password1 = $("#input-password").val()
            let password2 = $("#input-password2").val()
            let nickname = $("#input-nickname").val()
             
            //서버작동
            $.ajax({
                type: "POST",
                url: `/api/register`,
                data: {
                    email: email,
                    password1: password1,
                    password2: password2,
                    nickname: nickname,
                },

                success: function (answerbox) {
                    console.log(answerbox)
                    
                    if (answerbox["result"] == "success") {
                        alert('회원가입이 완료되었습니다');
                        window.location.href = "/signIn";
                    } else {
                        alert(answerbox['msg']);
                    }
                }
                  
            })
        }
        function closing() {
            alert('회원가입이 취소되었습니다');
            window.location.href = "/list";
        }  
    </script>
    <style>
        body {
            background-color: rgb(230, 209, 230);
        }
        .h1, .h4 {
            font-family: 'Do-hyeon', 'sans-serif';
        }
    </style>
    <p><h1>New Member Page</h1></p>
    <body>
        <div class="join-content">
            <div class="join-row">
                <h4 class="join-title">
                    <label for="email">Email :</label>
                </h4>
                <span class="emailbox">
                    <input type="text" id="input-email" class="int" />
                </span>
            </div>
            <div class="join-row">
                <h4 class="join-title">
                    <label for="password1">Password :</label>
                </h4>
                <span class="pwd1box">
                    <input type="password" id="input-password" class="int" />
                </span>
            </div>
            <div class="join-row">
                <h4 class="join-title">
                    <label for="password2" type="password">Confirm Password :</label>
                </h4>
                <span class="pwd2box">
                    <input type="password" id="input-password2" class="int" />
                </span>
            </div>
            <div class="join-row">
                <h4 class="join-title">
                    <label for="nickname">Nickname :</label>
                </h4>
                <span class="nicknamebox">
                    <input type="text" id="input-nickname" class="int" />
                </span>
            </div>
        </div>
        <!-- 회원가입 버튼 클릭하기 ->  -->
        <div class="bt_wrap">
            <button onclick="welcome()">회원가입</button>
            <button onclick="closing()">취소</button>
        </div>
    </body>

</html>